<footer class="container py-5">
    <div class="row">
      <div class="col-12 col-md">
        <p>Guild Code LTD</p>
        <small class="d-block mb-3 text-muted">&copy; 2021</small>
      </div>
      <div class="col-6 col-md">
        <h5>Careers</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="#">UI/UX Designers</a></li>
          <li><a class="link-secondary" href="#">Frontend Engineers</a></li>
          <li><a class="link-secondary" href="#">Backend Engineers</a></li>
          <li><a class="link-secondary" href="#">Fullstack Engineers/a></li>
          <li><a class="link-secondary" href="#">Graphics/Creative Designers</a></li>
          <li><a class="link-secondary" href="#">Photography/Video Master</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Our Departments</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="#">Marketing</a></li>
          <li><a class="link-secondary" href="#">Human Resource</a></li>
          <li><a class="link-secondary" href="#">Sales</a></li>
          <li><a class="link-secondary" href="#">Engineers</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Partners/Investors</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="#">Swahilipot Hub</a></li>
          <li><a class="link-secondary" href="#">Seacom</a></li>
          <li><a class="link-secondary" href="#">Mombasa County Government</a></li>
          <li><a class="link-secondary" href="#">Qatar Airways</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="#">Team</a></li>
          <li><a class="link-secondary" href="#">Locations</a></li>
          <li><a class="link-secondary" href="#">Privacy</a></li>
          <li><a class="link-secondary" href="#">Terms</a></li>
        </ul>
      </div>
    </div>
  </footer>